:root {
  --dark: #000000;
  --light: #ffffff;
  --medium: #d3d3d3;
  --mediumdark: #808080;
  --error: #ff0000;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid var(--dark);
}

a:hover {
    border-color: transparent;
}

h1 {
    font-size: 3em;
    border-bottom: 2px solid var(--dark);
    text-align: center;
    font-weight: 100;
}

h2 {
    font-size: 1.5em;
    font-weight: 100;
}

legend {
    font-size: 1em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio-row {
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid var(--dark);
}

input[type="radio"] {
    accent-color: var(--dark);
}

textarea {
    resize: vertical;
    min-height: 1.5em;
}

input,
textarea {
    font-family: inherit;
    border-radius: 0;
    border: 1px solid var(--dark);
    padding: 4px 8px;
}

.createOption, .voteOption {
    flex-grow: 1;
}

.optionResult {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 12px;
}

.optionResultInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: 1px solid var(--dark);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
}

#root {
    margin: 0 auto;
    min-width: 500px;
    max-width: 700px;
}

.error {
    color: var(--error);
}

textarea::placeholder,
input[type='text']::placeholder {
    color: var(--mediumdark);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: stretch;
}

.options {
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

::selection {
    background: var(--medium);
    color: var(--dark);
    text-shadow: none;
}
