body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

a {
    text-decoration: inherit;
    color: inherit;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-weight: lighter;
}

h2 {
    font-size: 2em;
    font-weight: lighter;
}

legend {
    font-size: 1em;
}

.radio-row {
    padding: 12px;
    align-items: center;
    margin-top: 12px;
    gap: 12px;
    display: flex;
    justify-content: start;
    cursor: pointer;
    border: 1px solid black;
}

.radio-row input[type="radio"] {
    width: 16px;
    height: 16px;
    accent-color: black;
}

textarea {
    resize: vertical;
}

input, textarea {
    font-family: inherit;
    border-radius: 0;
    border: 1px solid black;
    padding: 4px;
    margin-bottom: 6px;
}

input[type="text"], textarea {
    width: 100%;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

fieldset {
    border: 1px solid black;
}

button {
    border: none;
    font-family: inherit;
    color: white;
    background-color: black;
    cursor: pointer;
    font-variant: small-caps;
    padding: 8px 16px;
    font-size: 1em;
}

#root {
    margin: 0 auto;
    min-width: 500px;
}

.error {
    color: red;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    gap: 10px;
    margin-bottom: 20px;
}

.options {
    font-size: 24px;
}

.buttons {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content:left;
    gap: 20px;
}

::selection {
    background: lightgray;
    color: black;
    text-shadow: none;
}
