.async-button {
    border: 1px solid transparent;
    font-family: inherit;
    color: var(--light);
    background-color: var(--dark);
    cursor: pointer;
    font-variant: small-caps;
    padding: 8px 16px;
    font-size: 1em;
}

.async-button:hover:not(:disabled),
.async-button:focus {
    color: var(--medium);
}

.async-button:disabled {
    cursor: not-allowed;
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
}

.async-button.loading {
    opacity: 0.85;
}
